<% include partials/_header %>

      <!--Contenido-->
      <!-- Content Wrapper -->
      <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="box" style="height:490px;">
                <div class="box-header with-border">
                  <h3 class="box-title" id="titulo">Edición de la página principal</h3>
                </div>
                <div class="box-body" id="cuerpo">
                    <!-- Contenido -->  
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <h6 class="text-center">HTML</h6>
                            <div id="ta-html"></div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <h6 class="text-center">CSS</h6>
                            <div id="ta-css"></div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <h6 class="text-center">Java Script</h6>
                            <div id="ta-js"></div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <h6 class="text-center">Opciones</h6>
                            <div class="card card-body">
                                <div class="form-group">
                                    <a href="#" class="btn btn-custom form-control">Guardar progresos</a>
                                </div>
                                <div class="form-group">
                                    <a href="#" class="btn btn-custom form-control">Insertar encabezado</a>
                                </div>
                                <div class="form-group">
                                    <a href="#" class="btn btn-custom form-control">Insertar pie de página</a>
                                </div>  
                            </div>
                        </div>
                        <div class="container">
                            <h6 align="center">RESULTADO</h6>
                            <div class="row">
                                <div class="col-12">
                                <iframe src="" id="ifr-resultado"
                                style="width:100%;height:100%;">
                                    
                                </iframe>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <!-- Fin Contenido -->
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!--Fin-Contenido-->

    <!-- Script para editor ACE-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ace.js"
    type="text/javascript" charset="utf-8"></script>

    <!-- Script para el highlight text -->
    <script>
        function update(){
            var res = document.getElementById('ifr-resultado').contentWindow.document;
            res.open();
            //para html
            res.write(eh.getValue());
            //para css
            res.write('<style>' + ec.getValue() + '</style>');
            //para js
    
            res.close();
        }
    
        function setEditor(){
            //para ventana de html
            window.eh = ace.edit("ta-html");
            eh.setTheme("ace/theme/monokai");
            eh.session.setMode("ace/mode/html");
    
            //para ventana de css
            window.ec = ace.edit("ta-css");
            ec.setTheme("ace/theme/monokai");
            ec.session.setMode("ace/mode/css");
    
            //para ventana de js
            window.ej = ace.edit("ta-js");
            ej.setTheme("ace/theme/monokai");
            ej.session.setMode("ace/mode/javascript");
    
            //actualizar iframe para ver el resultado
            eh.getSession().on('change', function(){
            update();
            });
    
            ec.getSession().on('change', function(){
            update();
            });
    
            /*ej.getSession().on('change', function(){
            update();
            });*/
        }
    
        setEditor();
        update();
    </script>
    
<% include partials/_footer %>