<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebMaster - Login</title>

    <link rel="shortcut icon" href="img/icon.png">
    <!-- Bootstrap 4.3.1 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Fontawesome 5.9.0-->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <!-- Hoja de estilos personalizada -->
    <link rel="stylesheet" href="css/custom.css">

</head>
<body class="body-custom">
    <header>
        <nav class="navbar navbar-dark bg-blue">
            <a class="navbar-brand mr-auto mb-0 h1" href="/main-page">WEBMASTER</a>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 mx-auto mt-4 card card-body">
                    <img src="img/logo-2.png" alt="logo-wm" class="mx-auto mb-4">
                    <% if (message.length > 0){ %>
                        <div class="alert alert-danger">
                            <%= message %>
                        </div>
                    <% } %>
                    <form action="/login" method="POST">                        
                        <div class="form-group">
                            <span class="fas fa-at" style="margin-left:25%;"></span>
                            <label class="ml-2">Correo electrónico</label>
                            <input type="email" name="email" id="" class="form-control" placeholder="@e-mail" autocomplete="off">
                            
                        </div>
                        <div class="form-group">
                            <span class="fas fa-key" style="margin-left:30%;"></span>
                            <label class="ml-2">Contraseña</label>
                            <input type="password" name="password" id="" class="form-control" placeholder="Contraseña" autocomplete="off">
                        </div>
                        <input type="submit" class="btn btn-primary form-control" value="Ingresar">
                        <hr>
                    </form>
                    <p class="mx-auto">¿No tienes una cuenta? Registrate
                        <a href="/signup">aquí</a>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer-login">
      <p align="center"><strong>WEBMASTER &copy; 2019.</strong> Todos los derechos reservados.
      </p>
    </footer>
    
    <!-- Bootstrap 4.3.1 -->
    <script src="js/bootstrap.min.js"></script>
    <!-- JQuery 3.4.1 -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- Fontawesome 5.9.0 -->
    <script src="js/all.min.js"></script>
</body>
</html>