<% include partials/_header %>

    <!--Contenido-->
    <!-- Content Wrapper -->
    <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-md-12">
            <div class="box" style="height:490px;">
            <div class="box-header with-border">
                <h3 class="box-title" id="titulo">Entradas</h3>
            </div>
            <div class="box-body" id="cuerpo">
                <div class="row mt-1">
                    <div class="col-12 col-xl-8">
                        <table class="table table-borderless table-hover table-sm" id="posts-table">
                            <thead>
                                <td><b>Título</b></td>
                                <td><b>Autor</b></td>
                                <td><b>Fecha</b></td>
                                <td><b>Categoría</b></td>
                                <td><b>Acciones</b></td>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < posts.length; i++) { %>
                                    <tr id="posts[i]._id">
                                        <td><%=posts[i].title%></td>
                                        <td><%=posts[i].author.user_name%></td>
                                        <td><%=posts[i].date%></td>
                                        <td><%=posts[i].category.name%></td>
                                    </tr>
                                <% } %>
                                <!--<tr>
                                    <td>Entrada 1</td>
                                    <td>John Doe</td>
                                    <td>12/12/12</td>
                                    <td>Categoría 1</td>
                                    <td>
                                        <a href="#" class="btn btn-info mx-2" title="Ver" style="font-size:10px;"><span class="fas fa-eye"></span></a>
                                        <a href="#" class="btn btn-success mx-2" title="Editar" style="font-size:10px;"><span class="fas fa-edit"></span></a>
                                        <a href="#" class="btn btn-danger mx-2" title="Eliminar" style="font-size:10px;"><span class="fas fa-trash-alt"></span></a>
                                    </td>
                                </tr>-->
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-xl-4 text-center">
                        <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#modalCrearEntrada">Crear entrada</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    </div>
    <!--Fin-Contenido-->

    <!-- Pantalla modal Crear Entrada -->
    <div class="modal fade" id="modalCrearEntrada" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear entrada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                <img src="../img/logo-2.png" alt="logo-2" class="mx-auto">
                </div>
                <div class="row">
                <form class="card card-body m-2">
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Título de la entrada" id="title">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Descripción" id="description">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Imagen representativa">
                    </div>
                    <div class="form-group">
                    <select class="form-control">
                        <option value="">Seleccionar categoría</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option value="true">¿Activar comentarios?</option>
                            <option value="true">Si</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="row">
                    <button class="btn btn-custom btn-custom-w mx-auto" data-dismiss="modal">Crear entrada</button>
                    <button class="btn btn-danger btn-custom-w mx-auto" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>

<% include partials/_footer %>