    <!-- Pantalla modal Acerca de -->
    <div class="modal fade" id="modalAbout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Acerca de...</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <img src="../../img/logo-2.png" alt="logo-2" class="mx-auto">
            </div>
            <div class="row">
                <p class="mx-auto text-center">
                  WEBMASTER <br>
                  Proyecto final de la clase de IS-912 - Sistemas Expertos <br>
                  Desarrolado por: Cristian Umanzor <br>
                  Segundo Periodo, 2019
                </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-custom mx-auto" data-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>    
    
    <!-- Pie de página -->
    <footer class="main-footer">
        <strong>WEBMASTER &copy; 2019.</strong> Todos los derechos reservados.
    </footer>
    <!-- Fin de pie de página -->
    
    <!-- jQuery 2.1.4 -->
    <script src="../../js/jquery-3.4.1.min.js"></script>
    <!-- popper dependencia BT -->
    <script src="../../js/popper.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="../../js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../js/app.min.js"></script>
    <script src="../../js/all.min.js"></script>

    <script src="../../js/controlador-admin.js"></script>
    
  </body>
</html>